/* hide the vertical ad bar */
._1_ag99JsBHxI6S4FP5ayPv {
    display: none !important;
}

/* hide the small ad bar in other email page */
._2a6h2L3Tl12cnq2P7ZG9y_ {
    display: none !important;
}

/* hide the upgrade premium ad bar */
._1ZEdP0-JdMOVtjBb5ZcM6M {
    display: none !important;
}